
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
font-family: sans-serif;
}
/* rendere visibile valori tab biglietto al click crea */

.show {
  opacity: 1;
  transition: 0.5s
}
/* rendere invisibile valori tab biglietto al click annulla */
.vuota{
  opacity: 0;
  transition: 0.5s;
}
//distanze valori tab
th{
    padding: 10px 20px;
}
